<form [formGroup]="form" (ngSubmit)="submit(form)">
    <h2 mat-dialog-title align="center"> Edit Player Username </h2>
    
    <mat-dialog-content align="center">
      <mat-form-field>
          <input id="username-form" matInput formControlName="username" placeholder="Enter username">
      </mat-form-field>
    </mat-dialog-content>
    
    <mat-dialog-actions>
      <button (click)="updatePlayer(data)" class='mat-flat-button' type="submit">Save</button>
      <button mat-flat-button (click) ="closeDialog()">Close</button>
    </mat-dialog-actions>
    
    </form>