#error-rules-not-filled{
    font-family: 'Times New Roman', Times, serif;
    display: none;
    color: red;
}
#error-rules-invalid{
    font-family: 'Times New Roman', Times, serif;
    display: none;
    color: red;
}