.mat-flat-button
{ 
    font-family: Arial;
    background-color:#642121;
    color: #ffffff;
    cursor: pointer;
}

.mat-flat-button:hover {
    cursor: hand;
    background-color: #764545f7;
}

.mat-flat-button:disabled {
    background-color: #eee;
      cursor: auto;
}
table {
    width: 100%;
  }
  
